<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273439506047-639hgout7c44tl7dhjns4nbv1ccl13qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273439506047-639hgout7c44tl7dhjns4nbv1ccl13qe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>273439506047-d63l8envvru7d0466non2f0pnpnboeii.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3vIch8x1rVi5zF-2To9Xb-BeDjtpAfrU</string>
	<key>GCM_SENDER_ID</key>
	<string>273439506047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyFlutter</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-73a17</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-73a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273439506047:ios:e1d8e66a4c9635d9b1494a</string>
</dict>
</plist>